*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40vh;
    width: 500px;
    align-items: center;
    margin: auto;
}
h4{
    font-size: 30px;
    font-weight: 400;
}
label{
    font-size: 16px;
    font-weight: 200;
}
#button{
    font-size: 18px;
    height: 50px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(145, 143, 141);
}
#results{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80vh;
    width: 500px;
    align-items: center;
    margin: auto;
}
input{
    border-radius: 10px;
    border: 1px solid;
    height: 40px;
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
}
a{
    text-decoration: none;
    text-align: center;
    align-items: center;
    display: flex;
    color: #000;
    justify-content: center;
}
footer{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgb(145, 143, 143);
    align-items: center;
    position: absolute;
    bottom: 0;
}
footer h4{
    font-size: 20px;
    
}